<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous"> -->
    <title>E-Classe | Dashboard</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="flex-column bg-yellow col-lg-2 col-md-4 col-sm-6 col-xs-12">
                <div class="p-3 mt-2">
                    <h1 class="h2">E-Classe</h1>
                </div>
                <div class="d-flex flex-column align-items-center mt-3">
                    <img class="rounded-circle" src="../assets/img/avatar.jpg" alt="avatar image" width="100" height="100">
                    <p class="mt-4">
                        Tayeb SOUINI
                    </p>
                    <p class="text-primary">
                        Admin
                    </p>
                </div>
                <nav class="">
                    <ul class="nav flex-column mt-2">
                        <li class="nav-item">
                            <a class="nav-link active btn text-start" href="dashboard.html"><i class="fas fa-home text-dark col-2"></i>Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn text-start " href="#"><i class="far fa-bookmark text-dark col-2"></i>Course</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn text-start" href="student.html"><i class="fas fa-graduation-cap text-dark col-2"></i>Students</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn text-start" href="payment.html"><i class="fas fa-dollar-sign text-dark col-2"></i>Payment</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn text-start" href="#"><i class="fas fa-chart-line text-dark col-2"></i>Report</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn text-start" href="#"><i class="fas fa-cogs text-dark col-2"></i>Settings</a>
                        </li>
                    </ul>
                </nav>
                <div class="d-flex justify-content-center mt-5">
                    <a href="../index.html" class="btn nav-link btn">Logout <i class="fas fa-sign-out-alt text-dark"></i></a>
                </div>
            </div>
            <div class="col-lg-10 col-md-8 col-sm-6 col-xs-12">
                <div class="d-flex justify-content-between mt-3">
                    <div class="">
                        <a href="#"><i class="far fa-arrow-alt-circle-left text-muted"></i></a>
                    </div>
                    <div class="d-flex justify-content-between align-items-center gap-3">
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        </form>
                        <div>
                            <a href="#"><i class="far fa-bell text-muted"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-sm-6 col-md-3" >
                        <div class="card" style="font-size: 1.5rem; background-color: #F0F9FF
                        ; color: #74C1ED;">
                            <div class="card-body">
                                <i class="fas fa-graduation-cap fa-lg"></i>
                                <p class="text-muted fa-xs">Students</p>
                                <p class="fa-xs d-flex justify-content-end text-dark fw-bold">
                                    243
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3" >
                        <div class="card" style="font-size: 1.5rem; background-color: #FEF6FB
                        ; color: #EE95C5;">
                            <div class="card-body">
                                <i class="far fa-bookmark fa-lg"></i>
                                <p class="text-muted fa-xs">Course</p>
                                <p class="fa-xs d-flex justify-content-end text-dark fw-bold">
                                    13
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3" >
                        <div class="card" style="font-size: 1.5rem; background-color: #FEFBEC
                        ; color: #00C1FE;">
                            <div class="card-body">
                                <i class="fas fa-dollar-sign fa-lg"></i>
                                <p class="text-muted fa-xs">Payements</p>
                                <p class="fa-xs d-flex justify-content-end text-dark fw-bold">
                                    Dhs 556, 000
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3" >
                        <div class="card bg-primary" style="font-size: 1.5rem;
                        ; color: #fff;">
                            <div class="card-body">
                                <i class="far fa-user fa-lg"></i>
                                <p class="text-muted fa-xs">Users</p>
                                <p class="fa-xs d-flex justify-content-end text-dark fw-bold">
                                    3
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- <script src="../assets/js/bootstrap.js"></script> -->
    <!-- <script src="../assets/js/bootstrap.bundle.js"></script> -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
</body>
</html>